<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Sriram Careers</title>
<style>
 
  #banner {
    width: 100%;
    height: 360px;
    object-fit: cover;
  }
 
  .bodytext {
    font-family: Roboto;
    color: rgb(80, 80, 80);
    }
  #container {
    max-width:  720px;
    margin: 0 auto 0 auto;
  }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">  
</head>
<body>
  <div class="container">
      <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
      <img class ="omg-fluid" id="banner" src="https://0104a1ba-59fc-4a8d-b01a-1f4fb0c91890-00-6az2f2lgmtn2.sisko.replit.dev/static/banner.jpg">
      <h2 class="text-center">About Sriram</h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
      <h2 class="text-center mt-2 mb-4"">Open Positions</h2>
      <p>
        {% for job in jobs%}
              {% include 'jobitem.html' %}
        {% endfor %}
      </p>
    <div class="text-center">  
      <button class="btn btn-primary btn-lg">Contact Us</button>
      <p class="text-center mt-4">Copyright 2023, Sriram</p>
    </div>
  </div>
</body>
  
</html>  